<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealmJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6CFEAB51F6EBDB200D53540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6CFEACE1F6EBDB200D53540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6CFEAD91F6EBDB200D53540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
